{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<!--
<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="#"
        data-topnav="Get started">Product</a>
    </li>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="#" data-topnav="Styles">Pricing</a>
    </li>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="#" data-topnav="Components">Book a
        demo</a>
    </li>
  </ul>
</nav>
-->

<div class="app-masthead app-masthead--supported" style="margin-top:-60px;">
  <div class="govuk-width-container app-site-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl app-masthead__title">Design and build digital services without the need for a
          digital team.
        </h1>
        <p class="app-masthead__description">Try GOV.UK Submit now if you work in Ministry of Justice.</p>
        <div style="margin-bottom:20px;">
          <a href="demo" role="button" draggable="false"
            class="govuk-button app-button--inverted govuk-!-margin-top-6 govuk-!-margin-bottom-0 govuk-button--start"
            data-module="govuk-button">
            Create an account
          </a>
        </div>
        <div style="margin-bottom:40px;">
          <p class="app-masthead__description">or <a class="app-link--inverted" href="/sign-in">sign in</a> if you’ve
            used
            it before</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!---
<div class="govuk-grid-row" style="margin-top:50px;">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Quick to get started
    </h2>
    <p class="govuk-body">
      Less than 10mins to set up.
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Meet government standard
    </h2>
    <p class="govuk-body">
      Secure and accessible
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Fast and friendly support
    </h2>
    <p class="govuk-body">
      Digital team in MOJ are on hand to help.
    </p>
  </div>
</div>
-->


<div class="govuk-grid-row" style="margin-top:50px;">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      Who’s it for
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>For all agencies across the Ministry of Justice</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row" style="margin-top:30px;">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Get a service online quicker and cheaper</li>
      <li>Easy to maintain</li>
      <li>Avoid the cost of investing in tools to build your own service</li>
      <li>Uses recognised GOV.UK design patterns</li>
      <li>Get quicker feedback from stakeholders (policy teams and frontline staff)</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row" style="margin-top:30px;">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      Support
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Work with you to help design a better service</li>
      <li>Conduct usability testing of forms with users</li>
      <li>We’ll publish and host the service for you</li>
      <li>Technical support offered through MOJ</li>
      <li>Provide analytics so you can see whether users are finding your service difficult</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row" style="margin-top:30px;">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      Why make services digital?
    </h2>
    <p class="govuk-body">Digital services are better for users. Online, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Reduce the number of user errors</li>
      <li>Reduce paper processing</li>
      <li>Reduce time spent on manual data entry</li>
      <li>Provides an easy way for policy teams to gather feedback from frontline staff</li>
      <li>Reduce the marginal cost of transactions for legal professionals and administration</li>
      <li>Provide detailed quantitative analysis for which parts of the forms users find difficult</li>
      <li>Reduce the amount of unnecessary contact time where users call, email or come in person to ask “where’s my
        thing?”. (With the use of GOV.UK Notify</li>
      <li>No lengthy contract</li>
      <li>Understand your users better and respond to their feedback</li>
      <li>Simplify complicated guidance and user journeys</li>
      <li>Offer assistance to users with accessibility needs </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row" style="margin-top:30px;">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      You’ll need
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>To follow the GDS Service Standards</li>
      <li>You service should have less than 100,000 transactions a year. If it has more than 100,000 transactions, contact the MOJ Digital team.</li>
    </ul>
  </div>
</div>

{% endblock %}