{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form class="form" action="demo-confirmation" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Book a demo
      </h1>

<p> To book a demo, email <a href="mailto:form-builder-team@digital.justice.gov.uk" class="govuk-link">form-builder-team@digital.justice.gov.uk</a> with the following details:


<ul class="govuk-list govuk-list--bullet">
            <li>
              your name
            </li>
            <li>
              the name of your team
            </li>
          </ul>

         <p> We will contact you to arrange a time.</p>

{% endblock %}