{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form class="form" action="demo-confirmation" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Book a demo
      </h1>

<p> To book a demo or find out more about how we can help,


      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Name
        </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Team
        </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Email
        </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text">
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Book a demo
      </button>
    </div>
  </div>

</form>

{% endblock %}