{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="#"
        data-topnav="Get started">Product</a>
    </li>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="#" data-topnav="Styles">Pricing</a>
    </li>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="#" data-topnav="Components">Try it
        for free</a>
    </li>
  </ul>
</nav>

<div class="app-masthead app-masthead--self-service">
  <div class="govuk-width-container app-site-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl app-masthead__title">Everything you need to get a service online</h1>
        <p class="app-masthead__description">Make the justice system easier, faster and cheaper to access for citizens.
        </p>
        <div style="margin-bottom:20px;">
          <a href="try" role="button" draggable="false"
            class="govuk-button app-button--inverted govuk-!-margin-top-6 govuk-!-margin-bottom-0 govuk-button--start"
            data-module="govuk-button">
            Try it for free
          </a>
        </div>
        <div style="margin-bottom:40px;">
          <p class="app-masthead__description">or <a class="app-link--inverted" href="/sign-in">sign in</a> if you’ve
            used
            it before</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row" style="margin-top:50px;">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      The product
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>create consistent government forms</li>
      </li>
      <li>have your service quality assured</li>
      <li>get data where you need it</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row" style="margin-top:50px;">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Quick to get started
    </h2>
    <p class="govuk-body">
      Less than 10mins to set up.
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Meet government standard
    </h2>
    <p class="govuk-body">
      Secure and accessible
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Fast and friendly support
    </h2>
    <p class="govuk-body">
      Digital team in MOJ are on hand to help.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>supports commitments set out in the Government Digital Strategy on how the government will become digital by
        default.
      </li>
      <li>
        provides a feedback loop from frontline staff to caseworkers
      </li>
      <li>
        gives insights as to where users are having trouble with analytics
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      Support
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Training on how to conduct user research on the existing service and present to stakeholders
      </li>
      <li>Training on the tool
      </li>
      <li>Training on how to conduct usability testing with users
      </li>
      <li>Provide guidance on how to maintain a service once it's live</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      About the Government Digital Strategy
    </h2>
    <p class="govuk-body">The <a
        href="https://www.gov.uk/government/publications/government-digital-strategy/government-digital-strategy">Government
        Digital Strategy</a> sets out how the government will become digital by default.
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>services need to meet the needs of their users across all channels</li>
      <li>become an organisation that is digital by default</li>
      <li>ensure that government data is properly managed, protected and (where non-sensitive) made available and shared
        effectively</li>
      <li>creating shared platforms, components and reusable business capabilities: continuing with government as a
        platform, reducing duplication, cost and increasing efficiency across government</li>
    </ul>
  </div>
</div>

{% endblock %}