{% extends "layout_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "includes/header.html" %}

<div class="app-masthead app-masthead--self-service">
  <div class="govuk-width-container app-site-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <label class="govuk-heading-xl" for="event-name">
            Which court are you applying to?
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>
        <div style="margin-bottom:20px;">
          <a href="name" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "../../includes/footer.html" %}

{% endblock %}