{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container app-site-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apply to be a magistrate</h1>
      <p class="govuk-body-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt ante
        eu neque accumsan, sit amet condimentum augue luctus.
      </p>
      <div style="margin-bottom:20px;">
        <a href="court" role="button" draggable="false" class="govuk-button govuk-button--start"
          data-module="govuk-button">
          Start now
        </a>
      </div>
    </div>
  </div>
</div>


{% endblock %}